<h2 class="sub-header">用户列表</h2>
<div>

	<input type="text" ng-model="newId" placeholder="请输入登录名" />
	<input type="text" ng-model="newName" placeholder="请输入姓名" />
	<input type="text" ng-model="newPasswd" placeholder="请输入密码" /> 
	<div ng-repeat="authority in authorityList" style="display:inline;padding-left:10px;">  
        <input type="checkbox" ng-checked="isChecked('',authority.id)"   
            ng-click="updateSelection($event,authority.id)" />{{authority.name}}  
    </div> 
	<input type="button" ng-click="addUser()" value="新增"
		class="btn btn-primary btn-lg active" />
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>登录名</th>
				<th>用户名</th>
				<th>密码</th>
				<th>所在仓库</th>
				<th>权限</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-hide="users.length > 0">
				<td class="center" colspan="6"><b>没有数据</b></td>
			</tr>
			<tr ng-repeat="user in users">
				<td><span ng-if="showedit">{{user.userId}}</span>
					<div ng-if="!showedit">
						<input type="text" ng-model="user.userId" id='txt_id_{{user.userId}}'>
					</div></td>
				<td><span ng-if="showedit">{{user.userName}}</span>
					<div ng-if="!showedit">
						<input type="text" ng-model="user.userName" id='txt_name_{{user.userId}}'>
					</div></td>
				<td><span ng-if="showedit">{{user.password}}</span>
					<div ng-if="!showedit">
						<input type="text" ng-model="user.password" id='txt_pwd_{{user.userId}}'>
					</div></td>
				<td><span ng-if="showedit">{{user.warehouse}}</span>
					<div ng-if="!showedit">
						<input type="text" ng-model="user.warehouse" id='txt_ware_{{user.userId}}'>
					</div></td>
				<td><!-- {{user.authority}} -->
				<div ng-repeat="authority in authorityList" style="display:inline;padding-left:10px;">  
			        <input type="checkbox" ng-checked="isChecked(user.authority,authority.id)"   
			            ng-click="updateSelection($event,authority.id)" ng-if="!showedit"/>
			            <span ng-if="isChecked(user.authority,authority.id) || !showedit">{{authority.name}}</span>
			    </div> 
				</td>
				<td><edituser ng-Model="user" ng-show="showedit"> <a
						class="btn btn-primary btn-lg active" role="button">编辑</a> </edituser> 
						<userupdate
						ng-Model="user" ng-show="!showedit"> <a
						class="btn btn-primary btn-lg active" role="button">保存</a> </userupdate> <usercancel
						ng-Model="user" ng-show="!showedit"> <a
						class="btn btn-default btn-lg active" role="button">取消</a> </usercancel> <userdelete
						ng-Model="user" ng-show="showedit"> <a
						class="btn btn-default btn-lg active" role="button">删除</a> </userdelete></td>
			</tr>

		</tbody>
	</table>

</div>